{% extends "layout.njk" %}

{% block metadata %}
    <title>CS Jukebox</title>
{% endblock %}

{% block content %}
    <div class="menu">
        <div class="menu-title">Pick a soundtrack:</div>
        <div class="menu-list">
            {% for item in manifest %}
            <a class="menu-item" href="/radio?s={{ item.s }}">
                {{ item.name }}
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}