<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- stylesheets -->
        <link rel="icon" type="image/png" href="/images/favicon.png">
        <link rel="stylesheet" href="/css/fonts.css"/>
        <link rel="stylesheet" href="/css/themes.css"/>
        <link rel="stylesheet" href="/css/styles.css"/>
        <link rel="stylesheet" href="/css/not-found.css"/>
        <link rel="stylesheet" href="/css/menu.css"/>
        <link rel="stylesheet" href="/css/radio.css"/>

        <!-- scripts -->
        <script src="/js/lib/howler.min.js"></script>
        <script src="/js/themes.js"></script>
        <script src="/js/radio.js"></script>

        <!-- metadata -->
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta property="og:site_name" content="CS Jukebox"/>
        {% block metadata %}{% endblock %}
    </head>
    <body>
        <div id="root">
            <div class="moon"></div>
            <div class="cloud4"></div>
            <div class="cloud3"></div>
            <div class="cloud2"></div>
            <div class="cloud1"></div>
            <div class="dragon">
                <a href="/">
                    <div class="dragon-inner"></div>
                </a>
            </div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>