{% extends "layout.njk" %}

{% block content %}
<div class="not-found">
    <div style="font-size: 24px;">404 Not Found</div>
    <div>The requested URL was not found on this server. Sorry!</div>
</div>
{% endblock %}