html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
    background-image: var(--bg-image);
    background-size: 628px auto;
    background-repeat: repeat-x;
    background-color: var(--bg-color);
}

* {
    image-rendering: pixelated;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.moon {
    position: absolute;
    left: var(--moon-left);
    right: var(--moon-right);
    top: 72px;
    width: 68px;
    height: 68px;
    background: no-repeat var(--moon-bg);
    background-size: cover;
}

.cloud1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200%;
    height: 80px;
    background: repeat-x var(--cloud1-bg);
    background-size: auto 80px;
    animation: cloud-scroll 1.5s linear infinite;
}

.cloud2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200%;
    height: 140px;
    background: repeat-x var(--cloud2-bg);
    background-size: auto 140px;
    animation: cloud-scroll 3s linear infinite;
}

.cloud3 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200%;
    height: 186px;
    background: repeat-x var(--cloud3-bg);
    background-size: auto 186px;
    animation: cloud-scroll 4.5s linear infinite;
}

.cloud4 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200%;
    height: 256px;
    background: repeat-x var(--cloud4-bg);
    background-size: auto 256px;
    animation: cloud-scroll 6s linear infinite;
}

@keyframes cloud-scroll {
    0% {
        left: 0;
    }
    100% {
        left: -640px;
    }
}

.dragon {
    position: absolute;
    left: 20%;
}

.dragon-inner {
    position: relative;
    width: 80px;
    height: 72px;
    background: no-repeat url("/images/dragon.png");
    background-size: cover;
    filter: drop-shadow(2px 2px 0 rgb(0, 0, 0, 0.25));
    animation: dragon-float 3s ease-in-out infinite;
}

@keyframes dragon-float {
    0% {
        top: 0;
    }
    50% {
        top: -25px;
    }
    100% {
        top: 0;
    }
}