:root {
    --bg-image: none;
    --bg-color: #A598AD;
    --cloud1-bg: url("/images/light/cloud1.png");
    --cloud2-bg: url("/images/light/cloud2.png");
    --cloud3-bg: url("/images/light/cloud3.png");
    --cloud4-bg: url("/images/light/cloud4.png");
    --moon-bg: url("/images/light/sun.png");
    --moon-left: 72px;
    --moon-right: auto;
}

:root[data-theme="dark"] {
    --bg-image: url("/images/dark/bg.png");
    --bg-color: black;
    --cloud1-bg: url("/images/dark/cloud1.png");
    --cloud2-bg: url("/images/dark/cloud2.png");
    --cloud3-bg: url("/images/dark/cloud3.png");
    --cloud4-bg: url("/images/dark/cloud4.png");
    --moon-bg: url("/images/dark/moon.png");
    --moon-left: auto;
    --moon-right: 72px;
}